.wrapper {
	display: grid;
	grid-template-columns: auto 320px minmax(320px, 1280px) auto;
	grid-template-areas:
		". header header ." auto
		". sidebar main ." 1fr
		"footer footer footer footer" auto;

	min-height: 100vh;
}

.header {
	display: none;
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}

@media (max-width: 760px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.header {
		display: block;
	}

	.sidebar {
		display: none;
	}
}
