.button {
	width: 40px;
	height: 40px;

	cursor: pointer;

	border: none;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 5%);
}

.primary {
	background: var(--primary);
}

.primary svg * {
	fill: var(--white);
}

.button .primary :hover {
	background: var(--primary-hover);
}

.white {
	background: var(--white);
}

.white svg * {
	fill: var(--primary);
}

.button .white :hover {
	background: var(--primary);
}
