.wrapper {
	position: relative;
}

.star {
	display: inline-block;

	box-sizing: content-box;
	padding: 0 2px;
}

.filled svg {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.error-text {
	position: absolute;
	bottom: -16px;
	left: 0;

	color: var(--red);

	font-size: 12px;
}
