.first-level {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;

	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	line-height: 25px;
}

.first-level-list {
	padding: 0;

	list-style: none;
}

.first-level-active,
.first-level:hover {
	color: var(--primary);
}

.first-level-active svg,
.first-level:hover svg {
	fill: var(--primary);
}

.second-level {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	border: none;
	outline-offset: -2px;
	background: none;

	font-size: 12px;
	font-weight: 300;
}

.second-block {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 0 0 0 32px;

	list-style: none;

	border-left: 1px solid #DFDFDF;
}

.second-level-block {
	overflow: hidden;

	padding: 0;

	list-style: none;
}

.third-level {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;

	color: var(--gray-dark);
	outline-offset: -2px;

	font-size: 14;
	font-weight: 500;
}

.third-level:hover,
.third-level-active {
	color: var(--primary);
}
