.review-form {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px 30px;

	align-items: center;

	font-size: 14px;
	line-height: 24px;
}

.description {
	grid-column: 1 / -1;
}

.submit {
	grid-column: 1 / -1;
}

.title {
	justify-self: left;
}

.info {
	margin-left: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.success {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;

	background: var(--green-light);
}

.success-title {
	font-weight: bold;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.review-form {
		grid-template-columns: 1fr 1fr;
	}

	.title {
		justify-self: normal;
	}

	.rating {
		grid-column: 1 / -1;
	}
}

@media screen and (max-width: 640px) {
	.review-form {
		grid-template-columns: 1fr;
	}
}
