html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--gray-light);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--font-family: "Noto Sans", sans-serif;
	--black: #3B434E;
	--white: #FFF;
	--primary: #623CF3;
	--primary-hover: #6C4DE7;
	--green: #005C36;
	--red: #FF5739;
	--red-light: #FFB2A4;
	--green-light: #C8F8E4;
	--gray: #B3C0D9;
	--gray-light: #F3F3F3;
	--gray-dark: #6E737A;
}
