html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--gray-light);

	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #6c4de7;
	--green: #1DC37E;
	--red: #FC836D;
	--green-light: #C8F8E4;
	--gray: #B3C0D9;
	--gray-light: #F3F3F3;
}
